/*CSS DOCUMENT*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;}

h1 {
    color: #3b1c0a;
    font-family: optima, sans-serif;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: .01em;
}

img {
    width: 100%; 
}

figure {
    margin: 0;
}

figure img {
    width: 10%;
    padding-top: .25em;
}

.top img {
    float: left;
    padding-bottom: .25em;
    padding-right: .5em;
}

.top h1 {
    position: relative;
}

body {
	background-color: #6f4e37;
}

div.container {
    padding: 1em;
	background-color: #f5f5f5;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    margin-bottom: 2em;
    font-family: optima, sans-serif;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: .075em;
}

nav ul a {
    padding-top: .5em;
    color: #6f4e37;
    text-decoration: none;
}

nav ul a:hover {
    color: #d0bb94;
}

ul {
	margin: .25em 0em 0em 0em;
    line-height: 1.25em;
    padding-top: .5em;
}

ul li {
    list-style: none;
    line-height: 1em;
    color: #3b2f2f;
    font-family: optima, sans-serif;
    letter-spacing: .01em;
}

ul li p {
    line-height: 1.5em;
}

ul li:hover {
    color: #6f4e37;
}

h3 {
    color: #3b1c0a;
    font-family: optima, sans-serif;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: .03em;
}

footer p {
	background-color: #6f4e37;
	color: #f5f5f5;
    font-family: optima, sans-serif;
    font-weight: 650;
    padding-left: 1em;
    padding-top: .5em;
}

h2 {
    padding-bottom: .15em;
    padding-top: .3em;
    color: #3b1c0a;
    font-family: optima, sans-serif;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: .01em;
}

p {
    line-height: 1.5em;
    font-family: optima, sans-serif;
    letter-spacing: .01em;
    padding-bottom: .5em;
}

address {
    color: #6f4e37;
    padding-bottom: 1em;
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */